html {
  color: black !important;
  background-color: white !important;
}
* {
  font-family: "Cormorant Garamond", serif;
  font-family: "Libre Baskerville", serif;
}
.drawer-side a.active {
  background-color: rgb(143, 143, 143);
  color: white;
}
.drawer-side a {
  background-color: transparent;
}

body.dark {
  background-color: #1a202c;
  color: #f7fafc;
}

.header.dark {
  background-color: #4a5568;
  color: #e2e8f0;
}

.footer.dark {
  background-color: #4a5568;
  color: #e2e8f0;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
