html {
  color: black !important;
  background-color: white !important;
}
* {
  font-family: "Cormorant Garamond", serif;
  font-family: "Libre Baskerville", serif;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
